In [3]:
import pandas as pd

In [4]:
# Cargamos las actividades de las ciudades
df_actividades_berlin = pd.read_csv("../../data/raw/actividades_berlin.csv")
df_actividades_viena = pd.read_csv("../../data/raw/actividades_viena.csv")

# Cargamos los alojamiento de las ciudades
df_airbnb_berlin = pd.read_csv("../../data/raw/AirBnB_Berlin.csv")
df_airbnb_viena = pd.read_csv("../../data/raw/AirBnB_Viena.csv")

# Cargamos los vuelos de Berlin
df_berlin_ida = pd.read_csv("../../data/raw/vuelos_berlin_ida.csv")
df_berlin_vuelta = pd.read_csv("../../data/raw/vuelos_berlin_vuelta.csv")

# Cargamos los vuelos de Viena
df_viena_ida = pd.read_csv("../../data/raw/vuelos_viena_ida.csv")
df_viena_vuelta = pd.read_csv("../../data/raw/vuelos_viena_vuelta.csv")

In [ ]:
# Nos fijamos si todos los df contienen la columna Unnamed: 0
display(df_actividades_berlin.head(1))
display(df_actividades_viena.head(1))
display(df_viena_ida.head(1))
display(df_viena_vuelta.head(1))
display(df_berlin_ida.head(1))
display(df_berlin_vuelta.head(1))
display(df_airbnb_berlin.head(1))
display(df_airbnb_viena.head(1))

In [16]:
# Nos damos cuentas que en efecto todos tienen la columna Unnamed: 0
dataframes = [
    df_actividades_berlin,
    df_actividades_viena,
    df_viena_ida,
    df_viena_vuelta,
    df_berlin_ida,
    df_berlin_vuelta,
    df_airbnb_berlin,
    df_airbnb_viena
]

# Elimina la columna 'Unnamed: 0' de cada DataFrame si existe
for df in dataframes:
    if 'Unnamed: 0' in df.columns:
        df.drop(columns=['Unnamed: 0'], inplace=True)

## Como no queremos escalas, me voy a quedar unicamente con los vuelos que son directos

### Berlin  
  
#### IDA

In [37]:
# Filtra el DataFrame para obtener solo los vuelos directos
df_berlin_ida_directo = df_berlin_ida[df_berlin_ida['Destino'] == 'BER']

# Lo ordemaos de manera ascendente, ya que los vuelos baratos son nuestra prioridad
df_berlin_ida_directo = df_berlin_ida_directo.sort_values(by='Precio Total (EUR)', ascending=True)

df_berlin_ida_directo.to_csv("../../data/eda/berlin_ida_directo.csv")


#### VUELTA

In [38]:
# Filtra el DataFrame para obtener solo los vuelos directos
df_berlin_vuelta_directo = df_berlin_vuelta[df_berlin_vuelta['Destino'] == 'MAD']

# Lo ordemaos de manera ascendente, ya que los vuelos baratos son nuestra prioridad
df_berlin_vuelta_directo = df_berlin_vuelta_directo.sort_values(by='Precio Total (EUR)', ascending=True)

df_berlin_vuelta_directo.to_csv("../../data/eda/berlin_vuelta_directo.csv")

### Viena  
  
#### IDA

In [39]:
# Filtra el DataFrame para obtener solo los vuelos directos
df_viena_ida_directo = df_viena_ida[df_viena_ida['Destino'] == 'VIE']

# Lo ordemaos de manera ascendente, ya que los vuelos baratos son nuestra prioridad
df_viena_ida_directo = df_viena_ida_directo.sort_values(by='Precio Total (EUR)', ascending=True)

df_viena_ida_directo.to_csv("../../data/eda/viena_ida_directo.csv")

#### VUELTA

In [40]:
# Filtra el DataFrame para obtener solo los vuelos directos
df_viena_vuelta_directo = df_viena_vuelta[df_viena_vuelta['Destino'] == 'MAD']

# Lo ordemaos de manera ascendente, ya que los vuelos baratos son nuestra prioridad
df_viena_vuelta_directo = df_viena_vuelta_directo.sort_values(by='Precio Total (EUR)', ascending=True)

df_viena_vuelta_directo.to_csv("../../data/eda/viena_vuelta_directo.csv")

In [7]:
df_actividades_berlin["precio"].unique()

array([ 30.  ,   0.  ,  65.  ,  26.  ,  40.  ,  62.  ,  20.  ,  22.  ,
       135.  ,   4.6 ,  29.6 , 197.5 ,  17.57,  79.  ,  34.  ,  26.5 ])